# Copiez ce fichier vers .env avant de lancer Docker Compose
# cp .env.docker.example .env

SPRING_DATASOURCE_URL=jdbc:postgresql://fleet-db:5432/fleetdb
SPRING_DATASOURCE_USERNAME=fleetuser
SPRING_DATASOURCE_PASSWORD=fleetpassword
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
POSTGRES_USER=fleetuser
POSTGRES_PASSWORD=fleetpassword
APP_JWT_SECRET=ChangeThisSecretKeyForProdChangeThisSecretKey
APP_JWT_EXPIRATION_MS=86400000
