# Copiez ce fichier vers .env avant de lancer Docker Compose
# cp .env.docker.example .env

SPRING_DATASOURCE_URL=jdbc:db2://host.docker.internal:50000/NSI:currentSchema=FLEETDB;
SPRING_DATASOURCE_USERNAME=db2admin
SPRING_DATASOURCE_PASSWORD=db2admin
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.ibm.db2.jcc.DB2Driver
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.DB2Dialect
APP_JWT_SECRET=ChangeThisSecretKeyForProdChangeThisSecretKey
APP_JWT_EXPIRATION_MS=86400000
